#projects {
    .projects-comp {
        .projects-demos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .project-item {
                &_image {
                    color: var(--color-contrast-lower);
                    background-image: url(https://loremflickr.com/200/200);
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }
}

.modal-overlay {
    background-color: rgba($color: $black, $alpha: 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    margin: auto;
    .react-modal {
        position: relative;
        &:focus {
            outline: none;
        }
        .modal-dialog {
            max-width: 95%;
            .modal-body {
                text-align: center;
                .modal-image {
                    max-width: 100%;
                    height: 50vh;
                }
            }
        }
    }
}

#two {
    background-color: $bisque;
}
