.form-control {
    // basic form element style
    padding: var(--space-xs) var(--space-sm);
    background: var(--color-bg);
    border: 2px solid var(--color-contrast-low);
    width: 100%;

    &:focus {
        outline: none;
        border-color: var(--color-primary);
        --color-shadow: hsla(
            var(--color-primary-h),
            var(--color-primary-s),
            var(--color-primary-l),
            0.2
        ); // fix iOS 12 bug
        box-shadow: 0 0 0 3px var(--color-shadow);
    }

    &::-webkit-input-placeholder {
        color: var(--color-contrast-medium);
    }

    &::-moz-placeholder {
        opacity: 1;
        color: var(--color-contrast-medium);
    }

    &:-ms-input-placeholder {
        color: var(--color-contrast-medium);
    }

    &:-moz-placeholder {
        color: var(--color-contrast-medium);
    }
}

.form-control[disabled],
.form-control[readonly] {
    cursor: not-allowed;
}

.form-control[aria-invalid="true"] {
    border-color: var(--color-error);

    &:focus {
        --color-shadow: hsla(
            var(--color-error-h),
            var(--color-error-s),
            var(--color-error-l),
            0.2
        ); // fix iOS 12 bug
        box-shadow: 0 0 0 3px var(--color-shadow);
    }
}

// error message
.form__msg-error {
    background-color: var(--color-error);
    color: var(--color-white);
    font-size: var(--text-sm);
    @include fontSmooth;
    padding: var(--space-xs);
    margin-top: var(--space-sm);
    border-radius: 0.25em;

    // hide element
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);

    &::before {
        content: "";
        position: absolute;
        left: var(--space-sm);
        top: 0;
        transform: translateY(-100%);
        @include triangle(up, 8px, var(--color-error));
    }
}

.form__msg-error--is-visible {
    position: relative;
    clip: auto;
}
