:root {
    --container-width-xs: 37.5rem; // ~600px
    --container-width-sm: 45rem; // ~720px
    --container-width-md: 64rem; // ~1024px
    --container-width-lg: 80rem; // ~1280px
    --container-width-xl: 90rem; // ~1440px
}

// classes used to center content on x-axis and set content max width
.container {
    width: calc(100% - 2 * var(--component-padding));
    margin-left: auto;
    margin-right: auto;
}

.container--xl {
    max-width: var(--container-width-xl);
}
