:root {
    // size
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
}

.icon {
    display: inline-block;
    color: var(--color-contrast-higher);
    fill: currentColor;
    height: 1em;
    width: 1em;
    line-height: 1;
}
