@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Dancing+Script|Lobster|Open+Sans|Ubuntu&display=swap");
@import "~bootstrap/scss/bootstrap";

// Globals
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/breakpoints";
@import "./partials/spacing";
@import "./partials/grid-layout";
@import "./partials/alignment";
@import "./partials/shared-styles";
@import "./partials/typography";
@import "./partials/icons";
@import "./partials/common-variables";
@import "./partials/buttons";
@import "./partials/forms";
@import "./partials/z-index";
@import "./partials/visibility";
@import "./partials/accessibility";
@import "./partials/imported";

@import "../components/header/header";
@import "../components/welcome-component/welcome-component";
@import "../components/sticky-nav/sticky-nav";
@import "../components/projects/projects";
@import "../components/shapes/shapes";
@import "../components/submit-form/submit-form";
@import "../components/footer/footer";
@import "../components/about-me/about-me";

body {
    transition: $transition-time;
    background-color: var(--color-bg);
}

#root {
    font-family: $OpenSans;
    position: relative;
}
