.testimonials-container {
    .slick-slider {
        margin-top: 25px !important;
        &.slick-initialized {
            width: 75%;
            margin: auto;
            @include breakpoint(sm-only) {
                width: 90%;
            }
            .slick-arrow {
                &::before {
                    font-size: 30px;
                    color: var(--color-black);
                }
            }
            .slick-slider_item {
                height: 500px;
                width: 80% !important;
                max-width: 660px;
                margin: auto;
                @include breakpoint(sm-only) {
                    width: 100% !important;
                }
                .testimonial-container {
                    background-color: lightgrey;
                    border: 1px solid black;
                    border-radius: 15px;
                    height: 400px;
                    margin-top: 80px;
                    padding: 0 15px;
                    @include breakpoint(sm-only) {
                        height: 350px;
                    }
                    img {
                        margin-top: -80px;
                        width: 180px;
                        display: inline-block;
                        border-radius: 50%;
                        @include breakpoint(sm-only) {
                            margin-top: -50px;
                            width: 120px;
                        }
                    }
                }
            }

            .slick-dots {
                li button::before {
                    font-size: 36px;
                    color: var(--color-black);
                }
            }
        }
    }
}
