.testimonials-container {
    .slick-slider {
        margin-top: 25px !important;
        &.slick-initialized {
            width: 75%;
            margin: auto;
            .slick-arrow {
                &::before {
                    font-size: 30px;
                    color: var(--color-black);
                }
            }
            .slick-slider_item {
                height: 500px;
                width: 80% !important;
                margin: auto;
                .testimonial-container {
                    border: 1px solid black;
                    height: 400px;
                    background-color: lightgrey;
                    margin-top: 80px;
                    img {
                        margin-top: -80px;
                        width: 180px;
                        display: inline;
                        border-radius: 50%;
                    }
                }
            }

            .slick-dots {
                li button::before {
                    font-size: 36px;
                    color: var(--color-black);
                }
            }
        }
    }
}
